/* comentario en sas y css */
@media screen and (min-width: 650px) {
  /*cambios home-main*/
  .contenedorPrincipal .mainHome .sectHome {
    width: 30rem; }
    .contenedorPrincipal .mainHome .sectHome img {
      width: 30rem; }
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 30rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros img {
      width: 30rem; }
  /*cambios productos-main*/
  .contenedorProductos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "1fr 1fr"; }
  /*cambios historia-main*/
  .contenedorPrincipal .mainHistoria .sectHistoria {
    width: 30rem; }
    .contenedorPrincipal .mainHistoria .sectHistoria img {
      width: 30rem; }
  /*cambios contacto-main*/
  .contenedorPrincipal .sectContacto {
    width: 30rem; }
    .contenedorPrincipal .sectContacto .formulario {
      width: 30rem; }
    .contenedorPrincipal .sectContacto .mapaUbi {
      width: 30rem; } }

@media screen and (min-width: 768px) {
  /*cambios header*/
  header {
    background-image: url(../imagenes/platospresentacionok.jpg);
    height: 10rem;
    opacity: 0.8;
    padding: 0; }
    header .barraNavegacion {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  /*cambios footer*/
  .footerGeneral {
    height: 10rem;
    flex-direction: row;
    justify-content: space-around; }
    .footerGeneral .redes {
      display: flex;
      gap: 5rem; }
    .footerGeneral .derechos {
      display: flex;
      font-size: 1.5rem; } }

@media screen and (min-width: 900px) {
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 60rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros .contImgNosotros {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px; }
  /*cambios contacto-main*/
  .mainContacto .sectContacto {
    width: 70rem;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .mainContacto .sectContacto .mapaUbi {
      height: 26rem; } }

/*ESTILOS MAIN NOSOTROS*/
.mainNosotros {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainNosotros .encabezado .encabezadoTitulo {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Cinzel', serif; }
  .mainNosotros .encabezado .encabezadoSubtitulo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Cinzel', serif; }
  .mainNosotros .sectNosotros {
    width: 19rem;
    background-color: whitesmoke;
    border-radius: 3rem;
    overflow: hidden;
    border: solid #583b04;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22); }
    .mainNosotros .sectNosotros .textoNosotrosUno {
      text-align: center;
      font-size: 1rem;
      margin: 1rem; }
    .mainNosotros .sectNosotros .contImgNosotros {
      display: flex;
      flex-direction: column;
      gap: 5px; }
      .mainNosotros .sectNosotros .contImgNosotros img {
        width: 100%; }
    .mainNosotros .sectNosotros .textoNosotrosDos {
      text-align: center;
      font-size: 1rem;
      margin: 1rem; }

@media screen and (min-width: 650px) {
  /*cambios home-main*/
  .contenedorPrincipal .mainHome .sectHome {
    width: 30rem; }
    .contenedorPrincipal .mainHome .sectHome img {
      width: 30rem; }
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 30rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros img {
      width: 30rem; }
  /*cambios productos-main*/
  .contenedorProductos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "1fr 1fr"; }
  /*cambios historia-main*/
  .contenedorPrincipal .mainHistoria .sectHistoria {
    width: 30rem; }
    .contenedorPrincipal .mainHistoria .sectHistoria img {
      width: 30rem; }
  /*cambios contacto-main*/
  .contenedorPrincipal .sectContacto {
    width: 30rem; }
    .contenedorPrincipal .sectContacto .formulario {
      width: 30rem; }
    .contenedorPrincipal .sectContacto .mapaUbi {
      width: 30rem; } }

@media screen and (min-width: 768px) {
  /*cambios header*/
  header {
    background-image: url(../imagenes/platospresentacionok.jpg);
    height: 10rem;
    opacity: 0.8;
    padding: 0; }
    header .barraNavegacion {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  /*cambios footer*/
  .footerGeneral {
    height: 10rem;
    flex-direction: row;
    justify-content: space-around; }
    .footerGeneral .redes {
      display: flex;
      gap: 5rem; }
    .footerGeneral .derechos {
      display: flex;
      font-size: 1.5rem; } }

@media screen and (min-width: 900px) {
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 60rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros .contImgNosotros {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px; }
  /*cambios contacto-main*/
  .mainContacto .sectContacto {
    width: 70rem;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .mainContacto .sectContacto .mapaUbi {
      height: 26rem; } }

/*ESTILOS MAIN PRODUCTOS*/
.mainProductos {
  justify-content: center;
  align-items: center;
  justify-items: center; }
  .mainProductos .encabezado .encabezadoTitulo {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Cinzel', serif; }
  .mainProductos .encabezado .encabezadoSubtitulo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Cinzel', serif; }
  .mainProductos .contenedorProductos {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 1rem; }
    .mainProductos .contenedorProductos .contenedorProducto {
      width: 19rem;
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      border-radius: 3rem;
      overflow: hidden;
      border: solid #583b04;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22);
      justify-content: space-between; }
      .mainProductos .contenedorProductos .contenedorProducto .tituloProducto {
        text-align: center;
        justify-content: flex-start; }
        .mainProductos .contenedorProductos .contenedorProducto .tituloProducto h2 {
          font-family: 'Cinzel', serif;
          font-size: 2rem; }
      .mainProductos .contenedorProductos .contenedorProducto .textoProducto {
        text-align: center;
        font-size: 1rem;
        margin: 1rem; }
      .mainProductos .contenedorProductos .contenedorProducto .verMas {
        background-color: #583b04;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .mainProductos .contenedorProductos .contenedorProducto .verMas a {
          text-align: center;
          text-decoration: none;
          color: whitesmoke;
          font-size: 1.3rem; }

@media screen and (min-width: 650px) {
  /*cambios home-main*/
  .contenedorPrincipal .mainHome .sectHome {
    width: 30rem; }
    .contenedorPrincipal .mainHome .sectHome img {
      width: 30rem; }
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 30rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros img {
      width: 30rem; }
  /*cambios productos-main*/
  .contenedorProductos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "1fr 1fr"; }
  /*cambios historia-main*/
  .contenedorPrincipal .mainHistoria .sectHistoria {
    width: 30rem; }
    .contenedorPrincipal .mainHistoria .sectHistoria img {
      width: 30rem; }
  /*cambios contacto-main*/
  .contenedorPrincipal .sectContacto {
    width: 30rem; }
    .contenedorPrincipal .sectContacto .formulario {
      width: 30rem; }
    .contenedorPrincipal .sectContacto .mapaUbi {
      width: 30rem; } }

@media screen and (min-width: 768px) {
  /*cambios header*/
  header {
    background-image: url(../imagenes/platospresentacionok.jpg);
    height: 10rem;
    opacity: 0.8;
    padding: 0; }
    header .barraNavegacion {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  /*cambios footer*/
  .footerGeneral {
    height: 10rem;
    flex-direction: row;
    justify-content: space-around; }
    .footerGeneral .redes {
      display: flex;
      gap: 5rem; }
    .footerGeneral .derechos {
      display: flex;
      font-size: 1.5rem; } }

@media screen and (min-width: 900px) {
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 60rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros .contImgNosotros {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px; }
  /*cambios contacto-main*/
  .mainContacto .sectContacto {
    width: 70rem;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .mainContacto .sectContacto .mapaUbi {
      height: 26rem; } }

/*ESTILOS MAIN HISTORIA*/
.mainHistoria {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainHistoria .encabezado .encabezadoTitulo {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Cinzel', serif; }
  .mainHistoria .encabezado .encabezadoSubtitulo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Cinzel', serif; }
  .mainHistoria .sectHistoria {
    width: 19rem;
    background-color: whitesmoke;
    border-radius: 3rem;
    overflow: hidden;
    border: solid #583b04;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22); }
    .mainHistoria .sectHistoria .imgHistoriaUno img {
      width: 100%; }
    .mainHistoria .sectHistoria .textoHistoriaUno {
      text-align: center;
      font-size: 1rem;
      margin: 1rem; }
    .mainHistoria .sectHistoria .imgHistoriaDos img {
      width: 100%; }
    .mainHistoria .sectHistoria .textoHistoriaDos {
      text-align: center;
      font-size: 1rem;
      margin: 1rem; }

@media screen and (min-width: 650px) {
  /*cambios home-main*/
  .contenedorPrincipal .mainHome .sectHome {
    width: 30rem; }
    .contenedorPrincipal .mainHome .sectHome img {
      width: 30rem; }
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 30rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros img {
      width: 30rem; }
  /*cambios productos-main*/
  .contenedorProductos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "1fr 1fr"; }
  /*cambios historia-main*/
  .contenedorPrincipal .mainHistoria .sectHistoria {
    width: 30rem; }
    .contenedorPrincipal .mainHistoria .sectHistoria img {
      width: 30rem; }
  /*cambios contacto-main*/
  .contenedorPrincipal .sectContacto {
    width: 30rem; }
    .contenedorPrincipal .sectContacto .formulario {
      width: 30rem; }
    .contenedorPrincipal .sectContacto .mapaUbi {
      width: 30rem; } }

@media screen and (min-width: 768px) {
  /*cambios header*/
  header {
    background-image: url(../imagenes/platospresentacionok.jpg);
    height: 10rem;
    opacity: 0.8;
    padding: 0; }
    header .barraNavegacion {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  /*cambios footer*/
  .footerGeneral {
    height: 10rem;
    flex-direction: row;
    justify-content: space-around; }
    .footerGeneral .redes {
      display: flex;
      gap: 5rem; }
    .footerGeneral .derechos {
      display: flex;
      font-size: 1.5rem; } }

@media screen and (min-width: 900px) {
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 60rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros .contImgNosotros {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px; }
  /*cambios contacto-main*/
  .mainContacto .sectContacto {
    width: 70rem;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .mainContacto .sectContacto .mapaUbi {
      height: 26rem; } }

/*ESTILOS MAIN CONTACTO*/
.mainContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainContacto .encabezado {
    font-family: 'Cinzel', serif; }
    .mainContacto .encabezado .encabezadoTitulo {
      text-align: center;
      font-size: 3rem;
      margin: 1rem;
      font-family: 'Cinzel', serif; }
    .mainContacto .encabezado .encabezadoSubtitulo {
      text-align: center;
      font-size: 1.5rem;
      margin: 1rem;
      font-family: 'Cinzel', serif; }
  .mainContacto .sectContacto {
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainContacto .sectContacto .formulario {
      width: 19rem;
      background-color: whitesmoke;
      padding: 1rem;
      border-radius: 30px;
      margin: 1rem; }
      .mainContacto .sectContacto .formulario .botonForm {
        background-color: #583b04;
        border-color: #583b04; }
    .mainContacto .sectContacto .mapaUbi {
      border-radius: 30px;
      margin: 1rem;
      width: 19rem; }

@media screen and (min-width: 650px) {
  /*cambios home-main*/
  .contenedorPrincipal .mainHome .sectHome {
    width: 30rem; }
    .contenedorPrincipal .mainHome .sectHome img {
      width: 30rem; }
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 30rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros img {
      width: 30rem; }
  /*cambios productos-main*/
  .contenedorProductos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "1fr 1fr"; }
  /*cambios historia-main*/
  .contenedorPrincipal .mainHistoria .sectHistoria {
    width: 30rem; }
    .contenedorPrincipal .mainHistoria .sectHistoria img {
      width: 30rem; }
  /*cambios contacto-main*/
  .contenedorPrincipal .sectContacto {
    width: 30rem; }
    .contenedorPrincipal .sectContacto .formulario {
      width: 30rem; }
    .contenedorPrincipal .sectContacto .mapaUbi {
      width: 30rem; } }

@media screen and (min-width: 768px) {
  /*cambios header*/
  header {
    background-image: url(../imagenes/platospresentacionok.jpg);
    height: 10rem;
    opacity: 0.8;
    padding: 0; }
    header .barraNavegacion {
      display: flex;
      align-items: center;
      justify-content: space-around; }
  /*cambios footer*/
  .footerGeneral {
    height: 10rem;
    flex-direction: row;
    justify-content: space-around; }
    .footerGeneral .redes {
      display: flex;
      gap: 5rem; }
    .footerGeneral .derechos {
      display: flex;
      font-size: 1.5rem; } }

@media screen and (min-width: 900px) {
  /*cambios nosotros-main*/
  .contenedorPrincipal .mainNosotros .sectNosotros {
    width: 60rem; }
    .contenedorPrincipal .mainNosotros .sectNosotros .contImgNosotros {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px; }
  /*cambios contacto-main*/
  .mainContacto .sectContacto {
    width: 70rem;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .mainContacto .sectContacto .mapaUbi {
      height: 26rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILOS DEL BODY*/
.contenedorPrincipal {
  background-color: #fafae1; }

/*ESTILOS DEL HEADER*/
header {
  background-color: #583b04; }
  header .barraNavegacion .divLogo {
    display: flex;
    justify-content: center;
    align-items: center; }
  header .barraNavegacion nav .botonNav {
    background-color: #fafae1; }
  header .barraNavegacion nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .barraNavegacion nav ul li {
      margin: 0.4rem;
      font-weight: bold; }
      header .barraNavegacion nav ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: whitesmoke; }

/*ESTILOS DEL FOOTER*/
.footerGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem; }
  .footerGeneral .footerGeneral .redes {
    margin: 1.5rem; }
    .footerGeneral .footerGeneral .redes .footerGeneral .redes .aRedes {
      margin: 1rem; }

/*ESTILOS MAIN HOME*/
.mainHome {
  font-family: 'Cinzel', serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  grid-template-areas: "encabezado" "sectHome";
  justify-content: center;
  align-items: center;
  justify-items: center; }
  .mainHome .encabezado {
    grid-area: encabezado; }
    .mainHome .encabezado .encabezadoTitulo {
      text-align: center;
      font-size: 3rem;
      margin: 1rem;
      font-family: 'Cinzel', serif; }
    .mainHome .encabezado .encabezadoSubtitulo {
      text-align: center;
      font-size: 1.5rem;
      margin: 1rem;
      font-family: 'Cinzel', serif; }
  .mainHome .sectHome {
    width: 19rem;
    grid-area: sectHome;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 3rem;
    overflow: hidden;
    border: solid #583b04;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.22); }
    .mainHome .sectHome .imgHomeUno {
      grid-area: imgHomeUno; }
      .mainHome .sectHome .imgHomeUno img {
        width: 100%; }
    .mainHome .sectHome .textoHomeUno {
      grid-area: textoHomeUno;
      text-align: center;
      font-size: 1rem;
      margin: 1rem; }
    .mainHome .sectHome .imgHomeDos {
      grid-area: imgHomeDos; }
      .mainHome .sectHome .imgHomeDos img {
        width: 100%; }
    .mainHome .sectHome .textoHomeDos {
      grid-area: textoHomeDos;
      text-align: center;
      font-size: 1rem;
      margin: 1rem; }
