/* comentario en sas y css */

@import "components/nosotros";
@import "components/productos";
@import "components/historia";
@import "components/contacto";
@import "base/mediaQueries";
@import "base/variables";
@import "base/listas";
@import "base/mixin";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILOS DEL BODY*/
.contenedorPrincipal {
    background-color: nth($list: $colores, $n: 1);
    width: 100%;
}

/*ESTILOS DEL HEADER*/
header {
    background-color: nth($list: $colores, $n: 2);

    .barraNavegacion {
        .divLogo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav {
            .botonNav {
                background-color: nth($list: $colores, $n: 1);
            }

            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    margin: 0.4rem;
                    font-weight: bold;

                    a {
                        text-decoration: none;
                        font-size: 1rem;
                        color: nth($list: $colores, $n: 3);
                    }
                }
            }
        }

    }
}

/*ESTILOS DEL FOOTER*/
.footerGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    .redes {
        margin: 1.5rem;
        display: flex;

        .aRedes {
            margin: 2rem;
        }
    }
}

/*ESTILOS MAIN HOME*/
.mainHome {
    font-family: 'Cinzel', serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto;
    grid-template-areas: "encabezado""sectHome";
    justify-content: center;
    align-items: center;
    justify-items: center;

    .encabezado {
        grid-area: encabezado;

        .encabezadoTitulo {
            @include titulo;
        }

        .encabezadoSubtitulo {
            @include subtitulo;
        }
    }

    .sectHome {
        width: 19rem;
        grid-area: sectHome;
        justify-content: center;
        @include cont-general;

        .imgHomeUno {
            grid-area: imgHomeUno;

            img {
                width: 100%;
            }
        }

        .textoHomeUno {
            grid-area: textoHomeUno;
            @include textGeneral;

        }

        .imgHomeDos {
            grid-area: imgHomeDos;

            img {
                width: 100%;
            }
        }

        .textoHomeDos {
            grid-area: textoHomeDos;
            @include textGeneral;

        }
    }
}