@import "base/mediaQueries";
@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*ESTILOS MAIN HISTORIA*/
.mainHistoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', serif;

    .encabezado {
        .encabezadoTitulo {
            @include titulo;
        }

        .encabezadoSubtitulo {
            @include subtitulo;
        }
    }

    .sectHistoria {
        width: 19rem;
        @include cont-general;

        .imgHistoriaUno {
            img {
                width: 100%;
            }
        }

        .textoHistoriaUno {
            @include textGeneral;
        }

        .imgHistoriaDos {
            img {
                width: 100%;
            }
        }

        .textoHistoriaDos {
            @include textGeneral;
        }
    }
}