@import "base/mediaQueries";
@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*ESTILOS MAIN NOSOTROS*/
.mainNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', serif;

    .encabezado {
        .encabezadoTitulo {
            @include titulo;
        }

        .encabezadoSubtitulo {
            @include subtitulo;
        }
    }

    .sectNosotros {
        width: 19rem;
        @include cont-general;

        .textoNosotrosUno {
            @include textGeneral;
        }

        .contImgNosotros {
            display: flex;
            flex-direction: column;
            gap: 5px;

            img {
                width: 100%;
            }
        }

        .textoNosotrosDos {
            @include textGeneral;
        }
    }
}