/* estilos de main productos */
@import "base/variables";

.mainProductos {
    font-family: 'Cinzel', serif;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .encabezado {
        .encabezadoTitulo {
            text-align: center;
            font-size: 3rem;
            margin: 1rem;
        }

        .encabezadoSubtitulo {
            text-align: center;
            font-size: 1.5rem;
            margin: 1rem;
        }
    }

    .contenedorProductos {
        display: grid;
        grid-template-columns: 20rem;
        justify-content: center;
        gap: 1rem;

        .contenedorProducto {
            width: 19rem;
            display: grid;
            grid-template-rows: auto;
            background-color: rgb(245, 245, 245);
            border-radius: 3rem;
            overflow: hidden;
            border: solid $col-marco;

            .imgProducto {
                width: 110%;
            }

            .tituloProducto {
                text-align: center;

                h2 {
                    font-size: 2rem;
                }
            }

            .textoProducto {
                text-align: center;
                font-weight: bold;

            }

            .verMas {
                background-color: rgb(88, 59, 4);
                text-align: center;

                a {
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    color: whitesmoke;
                    font-size: 1.5rem;

                }
            }
        }
    }



}