@import "base/mediaQueries";
@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*ESTILOS MAIN PRODUCTOS*/
.mainProductos {
    justify-content: center;
    align-items: center;
    justify-items: center;

    .encabezado {
        .encabezadoTitulo {
            @include titulo;
        }

        .encabezadoSubtitulo {
            @include subtitulo;
        }
    }

    .contenedorProductos {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 1rem;

        .contenedorProducto {
            width: 19rem;
            display: flex;
            flex-direction: column;
            @include cont-general;
            justify-content: space-between;

            .tituloProducto {
                text-align: center;
                justify-content: flex-start;

                h2 {
                    font-family: 'Cinzel', serif;
                    font-size: 2rem;
                }
            }

            .textoProducto {
                @include textGeneral;
            }

            .verMas {
                background-color: rgb(88, 59, 4);
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    @include boton-general;

                }
            }
        }
    }
}