@media screen and (min-width: 650px) {

    /*cambios home-main*/
    .contenedorPrincipal {
        .mainHome {
            .sectHome {
                width: 30rem;

                

            }
        }
    }

    /*cambios nosotros-main*/
    .contenedorPrincipal {
        .mainNosotros {
            .sectNosotros {
                width: 30rem;
            }
        }
    }

    /*cambios productos-main*/
    .contenedorProductos {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "1fr 1fr";

    }

    /*cambios historia-main*/
    .contenedorPrincipal {
        .mainHistoria {
            .sectHistoria {
                width: 30rem;
            }
        }
    }

    /*cambios contacto-main*/
    .contenedorPrincipal {
        .sectContacto {
            width: 30rem;

            .formulario {
                width: 30rem;
            }

            .mapaUbi {
                width: 30rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    /*cambios header*/
    header {
        background-image: url(../imagenes/platospresentacionok.jpg);
        height: 10rem;
        opacity: 0.8;
        padding: 0;

        .barraNavegacion {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    /*cambios footer*/
    .footerGeneral {
        height: 10rem;
        flex-direction: row;
        justify-content: space-around;

        .redes {
            display: flex;
            gap: 5rem;
        }

        .derechos {
            display: flex;
            font-size: 1.5rem;
        }
    }

}

@media screen and (min-width: 900px) {

    /*cambios nosotros-main*/
    .contenedorPrincipal {
        .mainNosotros {
            .sectNosotros {
                width: 60rem;

                .contImgNosotros {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 5px;
                }
            }
        }
    }

    /*cambios contacto-main*/
    .mainContacto {
        .sectContacto {
            flex-direction: row;
            width: auto;            
            justify-content: center;
            align-items: center;
            .formulario{
                width: 30rem;
                height: 30rem;
            }
            .mapaUbi{
                width: 30rem;
                height: 30rem;
            }           
        }
    }
}