@mixin cont-general {
    background-color: nth($list: $colores, $n: 4);
    border-radius: 3rem;
    overflow: hidden;
    border: solid $col-marco;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.22);
}

@mixin titulo {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Cinzel', serif;
}

@mixin subtitulo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Cinzel', serif;
}

@mixin textGeneral {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
}

@mixin boton-general {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3rem;
}